@import "tailwindcss";

:root {
    --primary1: #364153;
    --primary2: #465469;
    --primary3: #3a4557;
    --scrollbar-thumb: #303b4e;
    --white: #fff;
    --border: #ccc;
    --border-mic: #008156;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.translate, .microphone {
    padding: .5rem;
    border: 1px solid var(--primary3);
    border-radius: 50%;
    transition: transform 300ms ease;
}

.translate:hover, .microphone:hover {
    transform: scale(1.08);
}

.microphone.active {
    border: 1px solid var(--border-mic);
    animation: blink 2000ms infinite linear;
}

@keyframes blink {
    0% { opacity: .3;}
    50% { opacity: 1;}
    100% { opacity: .3;}
}

.icon.rotate {
    transform: rotate(180deg);
}

.custom-select.open .option {
    display: block;
}

.option {
    border: 1px solid var(--border);
}

.lang-options:hover {
    background-color: var(--primary2);
}

.msg.active {
    opacity: 1;
}

.copyright::after {
    animation: blink 2000ms infinite linear;
}