@import "tailwindcss";

:root {
    --primary1: #364153;
    --primary2: #465469;
    --white: #fff;
    --border: #ccc;
}

* {
    box-sizing: border-box;
}

.translate, .microphone {
    background-color: var(--primary1);
    padding: .5rem;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: background 300ms ease, color 300ms ease, transform 300ms ease;
}

.translate:hover, .microphone:hover {
    background-color: var(--primary1);
    color: var(--white);
    transform: scale(1.05);
}

.microphone.active {
    border: 2px solid rgb(0, 129, 86);
    animation: blink 2000ms infinite linear;
}

@keyframes blink {
    0% { opacity: .3;}
    50% { opacity: 1;}
    100% { opacity: .3;}
}

.icon.rotate {
    transform: rotate(180deg);
}

.custom-select.open .option {
    display: block;
}

.option {
    background-color: var(--primary1);
    border: 1px solid var(--border);
}

.lang-options:hover {
    background-color: var(--primary2);
}

.warningMessage.active {
    color: #a01500;
}