@import "tailwindcss";

:root {
    --background: #020617;
    --primary1: #465469;
    --primary2: #3a4557;
    --scrollbar-thumb: #303b4e;
    --white: #ffffff;
    --border: #99A1AF;
    --border-mic: #008156;
    --border-sucess: #065b3f;
    --border-danger: #cf3939;
}

::selection {
    background-color: var(--white);
    color: var(--primary2);
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

* {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
    .stars { animation: none }
}

/* =================================== */
@keyframes moveStars {
    from { transform: translateY(0); }
    to { transform: translateY(50%); }
}
@keyframes twinkle  {
    from { opacity: .6; }
    to { opacity: 1; }
}

@keyframes blink {
    0% { opacity: .3;}
    50% { opacity: 1;}
    100% { opacity: .3;}
}
/* =================================== */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
    min-height: 100dvh;
    overflow: hidden;
}

.custom-select.danger {
    border: 1px solid var(--border-danger);
}

.translate, .microphone {
    padding: .5rem;
    border: 1px solid var(--primary2);
    border-radius: 50%;
    transition: transform 300ms ease;
}

.translate:hover, .microphone:hover {
    transform: scale(1.08);
}

.microphone.active {
    border: 1px solid var(--border-mic);
    animation: blink 2000ms infinite linear;
}

.icon.rotate {
    transform: rotate(180deg);
}

.custom-select.open .option {
    display: block;
}

.option {
    border: 1px solid var(--border);
}

.lang-options:hover {
    background-color: var(--primary1);
}

.containerTranslate.sucess, .containerTranslated.sucess {
    border: 1px solid var(--border-sucess);
}

.containerTranslate.danger, .containerTranslated.danger {
    border: 1px solid var(--border-danger);
}

.msg.active {
    opacity: 1;
}