@import "tailwindcss";

:root {
    --primary1: #364153;
    --primary2: #465469;
    --white: #fff;
    --border: #ccc;
}

* {
    box-sizing: border-box;
}

.translate, .microphone {
    background-color: var(--primary1);
    padding: .5rem;
    border-radius: 50%;
    transition: background 300ms ease, color 300ms ease, transform 300ms ease;
}

.translate:hover, .microphone:hover {
    background-color: var(--primary1);
    color: var(--white);
    transform: scale(1.05);
}

.icon.rotate {
    transform: rotate(180deg);
}

.custom-select.open .option {
    display: block;
}

.option {
    background-color: var(--primary1);
    border: 1px solid var(--border);
}

.lang-options:hover {
    background-color: var(--primary2);
}