@import "tailwindcss";


:root {
    --background: #020617;
    --primary1: #465469;
    --primary2: #3a4557;
    --scrollbar-thumb: #303b4e;
    --border: #99A1AF;
    --white: #ffffff;
    --border-mic: #008156;
    --checked: #0c9164;
    --border-sucess: #065b3f;
    --border-danger: #cf3939;
}

::selection {
    background-color: var(--white);
    color: var(--primary2);
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

* {
    box-sizing: border-box;
}

@keyframes blink {
    0% { opacity: .3; }
    50% { opacity: .9; }
    100% { opacity: .3; }
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
    min-height: 100dvh;
    overflow: hidden;
}

.custom-select.danger {
    border: 1px solid var(--border-danger);
}

.translate, .microphone {
    padding: .5rem;
    border: 1px solid var(--primary2);
    border-radius: 50%;
    transition: transform 300ms ease;
}

.translate:hover, .microphone:hover {
    transform: scale(1.08);
}

.microphone.active {
    border-color: var(--border-mic);
    animation: blink 3000ms linear infinite;
}

.icon.rotate {
    transform: rotate(180deg);
}

.custom-select.open .option {
    display: block;
}

.option {
    border: 1px solid var(--border);
}

.lang-options:hover {
    background-color: var(--primary1);
}

.containerTranslate.sucess, .containerTranslated.sucess {
    border-color: var(--border-sucess);
}

.containerTranslate.danger, .containerTranslated.danger {
    border-color: var(--border-danger);
}

.copy.hidden {
    display: none;
}

.checked.show {
    display: block;
    color: var(--checked);
}

.msg.active {
    opacity: 1;
}