@import "tailwindcss";

:root {
    --background: #020617;
    --primary1: #465469;
    --primary2: #3a4557;
    --scrollbar-thumb: #303b4e;
    --white: #ffffff;
    --border: #99A1AF;
    --border-mic: #008156;
}

::selection {
    background-color: var(--white);
    color: var(--primary2);
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

* {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
    .stars { animation: none }
}

/* =================================== */
@keyframes moveStars {
    from { transform: translateY(0); }
    to { transform: translateY(50%); }
}
@keyframes twinkle  {
    from { opacity: .6; }
    to { opacity: 1; }
}

@keyframes blink {
    0% { opacity: .3;}
    50% { opacity: 1;}
    100% { opacity: .3;}
}
/* =================================== */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
    min-height: 100dvh;
    overflow: hidden;
}

.stars,
.stars::before,
.stars::after {
    content: '';
    position: fixed;
    inset: 0;
    background-repeat: repeat;
    pointer-events: none;
}

.stars {
    background-image:
    radial-gradient(1px 1px at 20% 30%, var(--white) 50%, transparent 51%),
    radial-gradient(1px 1px at 80% 70%, var(--white) 50%, transparent 51%),
    radial-gradient(1px 1px at 50% 50%, var(--white) 50%, transparent 51%);
    position: fixed;
    inset: -100% 0 0 0;
    background-size: 200px 200px;
    opacity: .6;
    animation: moveStars 60s linear infinite;
    pointer-events: none;
    will-change: transform;
}

.stars::before {
    background-image:
    radial-gradient(1.5px 1.5px at 10% 20%, var(--white) 50%, transparent 51%),
    radial-gradient(1.5px 1.5px at 90% 80%, var(--white) 50%, transparent 51%);
    background-size: 300px 300px;
    opacity: .8;
    animation: moveStars 90s linear infinite reverse;
}

.stars::after {
    background-image:
    radial-gradient(2px 2px at 30% 40%, var(--white) 50%, transparent 51%),
    radial-gradient(2px 2px at 70% 60%, var(--white) 50%, transparent 51%);
    background-size: 400px 400px;
    opacity: 1;
    animation: moveStars 120s linear infinite, twinkle 4s ease-in-out infinite alternate;
}

.translate, .microphone {
    padding: .5rem;
    border: 1px solid var(--primary2);
    border-radius: 50%;
    transition: transform 300ms ease;
}

.translate:hover, .microphone:hover {
    transform: scale(1.08);
}

.microphone.active {
    border: 1px solid var(--border-mic);
    animation: blink 2000ms infinite linear;
}

.icon.rotate {
    transform: rotate(180deg);
}

.custom-select.open .option {
    display: block;
}

.option {
    border: 1px solid var(--border);
}

.lang-options:hover {
    background-color: var(--primary1);
}

.msg.active {
    opacity: 1;
}