@import "tailwindcss";

:root {
    --primary1: #364153;
    --primary2: #465469;
    --white: #fff;
    --border: #ccc;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url("/images/mapa.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100dvh;
}

.translate, .microphone {
    background-color: var(--primary1);
    padding: .5rem;
    border-radius: 50%;
    transition: background 300ms ease, color 300ms ease, transform 300ms ease;
}

.translate:hover, .microphone:hover {
    background-color: var(--primary1);
    color: var(--white);
    transform: scale(1.05);
}

.icon.rotate {
    transform: rotate(180deg);
}

.option {
    display: none;
    position: absolute;
    top: 50px;    
    width: 100%;
    background-color: var(--primary1);
    border: 1px solid var(--border);
    border-radius: .5rem;
    transition: background 300ms ease;
    overflow: hidden;
}

.option li:hover {
    background-color: var(--primary2);
}

.custom-select.open .option {
    display: block;
}

.option li {
    padding: .5rem;
    cursor: pointer;
}